html, body {
  height: 100%;
  width: 100%;
}
#fade {
 opacity: 0;
    transition: opacity 0.05s;
    -webkit-transition: opacity 1s; /* Safari */ 
}

.text-white:hover {
  background-color: #C4D3E7;
  color: white;
  transition: 0.3s;
}

#mheading {
  text-shadow: 0 0 5px #fff, 0 0 20px #d0d4e7, 0 0 40px #d0d4e7;
}

#mheading2 {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
  text-shadow: 0 0 5px #fff;
  }
  to { 
    text-shadow: 0 0 5px #fff, 0 0 20px #d0d4e7, 0 0 40px #d0d4e7;
  }
}

#footer {
  background-color: #C4D3E7;
  color: #4B5E78;
}

.text-white {
  background-color: #AEC2DD;
  color: white;
}

.text-secondary:hover {
  background-color: #D8E2F0;
  color: white;
  transition: 0.3s;
}

#fade2 {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#heading {
  color: #AEC2DD;
}

.form {
  margin-top: 30px;
}

.form input {
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
  background: none;
}

.form__input-group {
  display: block;
  width: 40%;
  border-radius: 50px;
  border: 1px solid #8f8f8f;
  padding: 0px;
  margin: 10px 0;
}

.border {
  border-width: 7px;
  border-radius: 10px;
  padding: 20px;
}

